/* Styles go here */

body {
    font-family: "Eau Naturelle", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
    font-weight:100;
    color: #1f2e2e;
    background-color: #ffffff;
}

/** HEADER
*/
nav {
    min-height: 75px;
    background-color: #e0e0e0;
    color: black;
}


/** LOBBY
*/

.player-container {
    width: 400px;
    margin: auto;
}

.player-box {
    width: 200px;
    background-color: white;
    display: block;
    margin: 10px;
    border: 3px solid black;
}

/** END LOBBY */
.game-result {
    border: 1px solid black;
    overflow-x: scroll;
    white-space: nowrap;
}

.result-item {
    display: inline-block;
    margin-right: 15px;
    border-right: 1px dotted black;
}

/** CANVAS  */
#canvas{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #fff;
    box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}

canvas:active {
    cursor: pointer;
}

/* Disable selection highlight on drag. */
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
