<div class="col-sm-8 col-sm-offset-2">
    <h2>Pre Game Lobby</h2>
    <h4>session Id: {{model.sessionId}}</h4>
    <h4>Username: {{model.currentUser.username}}</h4>
    <h4>Other Players:</h4>
    <div ng-show="model.lobbyPlayers" class="player-container">
        <div ng-repeat="player in model.lobbyPlayers" ng-if="player !== model.currentUser.username" class="player-box">
            <div>
                <div>{{player}}</div>
            </div>
        </div>
    </div>
    <button ng-show="model.master" ng-click="model.startGame()" class="btn btn-primary btn-block">Start Game</button>
</div>